<a href="https://colab.research.google.com/github/emonroyh/Video/blob/master/CarTracker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tracker and Neural Network instalation

In [0]:
%%bash
cd /content
git clone https://xxxxxxxx:4pEftcTV6RbpLNCx@bitbucket.org/xxxxxxxx/darknet-alexey.git
make
cd /darknet-alexey
git clone https://xxxxxxxx:4pEftcTV6RbpLNCx@bitbucket.org/xxxxxxxx/Video.git
git clone https://xxxxxxxx:TW2hFmaF4MApYqxcrqEN@bitbucket.org/xxxxxxxx/deep_sort_yolov3.git

In [2]:
!nvidia-smi

Thu Jun  6 02:49:49 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.67       Driver Version: 410.79       CUDA Version: 10.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   38C    P8    15W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [4]:
%ls

3rdparty/           darknet*                libdarknet.so*    scripts/
appveyor.yml        darknet53.conv.74       LICENSE           src/
backup/             DarknetConfig.cmake.in  Makefile          train/
build/              darknet.py              net_cam_v3.sh*    train.rar
build.ps1           darknet_video.py        obj/              uselib*
build.sh*           data/                   obj_last.weights  Video/
cfg/                image_yolov2.sh*        person-test.txt   video_v2.sh*
cmake/              image_yolov3.sh*        person-train.txt  video_yolov3.sh*
CMakeLists.txt      include/                README.md         yolov3.weights
CMakeSettings.json  json_mjpeg_streams.sh*  results/

# Libraries

## Neural Network

In [0]:
# Darknet
from timeit import default_timer as timer
from ctypes import *
import math
import random
import os
import cv2
import numpy as np
import time
import darknet

# Thread for video reading
from queue import Queue 
from threading import Thread
from imutils.video import FileVideoStream

import matplotlib.pyplot as plt
import matplotlib.image as mpimg

configPath = "cfg/yolov3.cfg"
weightPath = "yolov3.weights"
metaPath = "cfg/coco.data"

netMain = darknet.load_net_custom(configPath.encode("ascii"), weightPath.encode("ascii"), 0, 1)  # batch size = 1
metaMain = darknet.load_meta(metaPath.encode("ascii"))
darknet_image = darknet.make_image(darknet.network_width(netMain), darknet.network_height(netMain),3)

In [0]:
# Avoid warnings
import warnings
warnings.filterwarnings("ignore")

# Show images
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

# Measure time
import time

# Dataframe
import pandas as pd

## Deep Sort Tracker

In [0]:
#Deep Sort
from deep_sort_yolov3.deep_sort import preprocessing
from deep_sort_yolov3.deep_sort import nn_matching
from deep_sort_yolov3.deep_sort.detection import Detection
from deep_sort_yolov3.deep_sort.tracker import Tracker
from deep_sort_yolov3.tools import generate_detections as gdet
from deep_sort_yolov3.deep_sort.detection import Detection as ddet

# Deep Sort int
max_cosine_distance = 0.3 
nn_budget = None      # Remove the oldest budgets when the limiit is reached
nms_max_overlap = 1.0 # ROIs that overlap more than this values are suppressed.

model_filename = 'deep_sort_yolov3/model_data/mars-small128.pb'
encoder = gdet.create_box_encoder(model_filename,batch_size=1)

metric = nn_matching.NearestNeighborDistanceMetric("cosine", max_cosine_distance, nn_budget)
tracker = Tracker(metric)

# Video Processing

In [0]:
start = time.time()

path_video_input = 'Video/traffic.mp4'
path_video_output = '/content/salida.mp4'

fvs = FileVideoStream(path_video_input).start() 

fourcc = cv2.VideoWriter_fourcc(*'MP4V') 
writer = cv2.VideoWriter(path_video_output, fourcc, 30, (416,416))

frame = fvs.read()

lista = []
del lista[:]

i = 0
while fvs.running(): 
  frame_rgb = cv2.cvtColor(frame, cv2.COLOR_BGR2RGB)
  frame_resized = cv2.resize(frame_rgb, (darknet.network_width(netMain), darknet.network_height(netMain)),interpolation=cv2.INTER_LINEAR)
  darknet.copy_image_from_bytes(darknet_image,frame_resized.tobytes())
  results = darknet.detect_image(netMain, metaMain, darknet_image, thresh=0.20) #!!!

  boxs = list()
  for cat, _, bounds in results:
    x, y, w, h = bounds
    x = int(x - w / 2)
    y = int(y - h / 2)

    if cat.decode("utf-8") != "car":
      continue  
    boxs.append([x,y,w,h])

  features = encoder(frame_resized, boxs)

  # score to 1.0 here
  detections = [Detection(bbox, 1.0, feature) for bbox, feature in zip(boxs, features)]

  # Run non-maxima suppression.
  boxes = np.array([d.tlwh for d in detections])
  scores = np.array([d.confidence for d in detections])
  indices = preprocessing.non_max_suppression(boxes, nms_max_overlap, scores) # It shouldn't use a max_supression process (it's already done in Yolo-Alexey )
  detections = [detections[i] for i in indices]

  # Call the tracker
  tracker.predict()
  tracker.update(detections)

  for track in tracker.tracks:
      if not track.is_confirmed() or track.time_since_update > 1:
          continue 
      bbox = track.to_tlbr()

      cv2.rectangle(frame_resized, (int(bbox[0]), int(bbox[1])), (int(bbox[2]), int(bbox[3])),(255,255,255), 2)
      cv2.putText(frame_resized, str(track.track_id),(int(bbox[0]), int(bbox[1]) + int(bbox[3]/2)),0, 5e-3 * 200, (0,255,0),2)
      lista.append([i, track.track_id, int(bbox[0]), int(bbox[1]), int(bbox[2]), int(bbox[3])])

  for det in detections:
      bbox = det.to_tlbr()
      cv2.rectangle(frame_resized,(int(bbox[0]), int(bbox[1])), (int(bbox[2]), int(bbox[3])),(255,0,0), 2)

  frame = fvs.read() 

  writer.write(frame_resized)

  if i % 100 == 0:
    print(i)

  i = i+1

writer.release()
fvs.stop()
print(time.time()-start)

labels = ['frame', 'id', 'x1', 'y1', 'x2', 'y2']

df = pd.DataFrame.from_records(lista, columns=labels)

In [85]:
df.head(20)

    frame  id   x1   y1   x2   y2
0       2   1  129    2  135    7
1       2   2   69  163  100  216
2       2   3  191  169  219  232
3       2   4  182  111  202  156
4       2   5  114   45  127   66
5       2   6  129   88  145  121
6       2   7   89   45  105   67
7       2   8  117   15  127   26
8       2   9  129    5  137   13
9       3   1  128    2  135    7
10      3   2   67  170   98  223
11      3   3  191  170  219  234
12      3   4  182  111  203  156
13      3   5  114   46  127   67
14      3   6  128   89  145  123
15      3   7   89   46  105   67
16      3   8  117   15  128   27
17      3   9  128    6  137   14
18      4   1  129    1  135    8
19      4   2   65  173   97  229

In [0]:
 df.to_csv("/content/df.csv")
# Results
# https://www.youtube.com/watch?v=pUfEVJ1azVQ&feature=youtu.be


# Data processing

In [0]:
# Timestamp
import datetime

In [88]:
df.head()

   frame  id   x1   y1   x2   y2
0      2   1  129    2  135    7
1      2   2   69  163  100  216
2      2   3  191  169  219  232
3      2   4  182  111  202  156
4      2   5  114   45  127   66

In [89]:
FPS = 30

df1 = df[df.frame % FPS == 0]
df1['frame'] = df1['frame']//FPS
df1['inicio'] = datetime.datetime(2014, 5, 21) + df1.frame * datetime.timedelta(milliseconds=1000)
df1.inicio += datetime.timedelta(hours=12, minutes=32, seconds=55, milliseconds=0)

df2 = df1.groupby(['id']).frame.agg([min,max]).reset_index()
df2['differ'] = df2['max'] - df2['min']
df2 = df2[df2.differ > 0]

df3 = df2.merge(df1.groupby('id', as_index=False).inicio.min(), on='id')
df3['fin'] = df3.inicio + df3.differ * datetime.timedelta(milliseconds=1000)  
df3.head(20)

    id  min  max  differ              inicio                 fin
0    1    2    4       2 2014-05-21 12:32:57 2014-05-21 12:32:59
1    3    1    2       1 2014-05-21 12:32:56 2014-05-21 12:32:57
2    4    1    5       4 2014-05-21 12:32:56 2014-05-21 12:33:00
3    5    1    2       1 2014-05-21 12:32:56 2014-05-21 12:32:57
4    7    1  306     305 2014-05-21 12:32:56 2014-05-21 12:38:01
5    8    1    3       2 2014-05-21 12:32:56 2014-05-21 12:32:58
6    9    3    7       4 2014-05-21 12:32:58 2014-05-21 12:33:02
7   10    1    5       4 2014-05-21 12:32:56 2014-05-21 12:33:00
8   13    1    3       2 2014-05-21 12:32:56 2014-05-21 12:32:58
9   23    2    3       1 2014-05-21 12:32:57 2014-05-21 12:32:58
10  27    2    4       2 2014-05-21 12:32:57 2014-05-21 12:32:59
11  29    4   13       9 2014-05-21 12:32:59 2014-05-21 12:33:08
12  30    4    7       3 2014-05-21 12:32:59 2014-05-21 12:33:02
13  34    3   10       7 2014-05-21 12:32:58 2014-05-21 12:33:05
14  35    3    8       5 2014-05-21 12:32:58 2014-05-21 12:33:03
15  36    3    8       5 2014-05-21 12:32:58 2014-05-21 12:33:03
16  40    4    5       1 2014-05-21 12:32:59 2014-05-21 12:33:00
17  43    4   15      11 2014-05-21 12:32:59 2014-05-21 12:33:10
18  47    4   10       6 2014-05-21 12:32:59 2014-05-21 12:33:05
19  49    4    7       3 2014-05-21 12:32:59 2014-05-21 12:33:02